
<div style=" margin-top: 1%;margin-bottom: 1%;margin-left: 1%;margin-right: 1%;">

    <%= form_with(model: @idea, url: idea_path, method: :patch ) do |form| %>
        <div>
            <%= form.label :title %>
            <br>
            <%= form.text_field :title , class:"form-control" %>
        </div>
        <div>
            <%= form.label :description %>
            <br>
            <%= form.text_area :description, cols: 50, rows: 5 , class:"form-control" %>
        </div>
        <br>
        <%= form.submit "Edit", class:"btn btn-primary" %>
    <% end %>

</div>