<!DOCTYPE html>
<html>
  <head>
    <title>WebApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= link_to 'Ideas', ideas_path %>
  <%= link_to 'New Idea!', new_idea_path %>
    <%if(user_signed_in?) %>
      Hello <%= current_user.first_name%>, 
      <%= button_to "Log out", sessions_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign In Page', new_session_path%>
      <%= link_to 'Sign Up Page', new_user_path%>
    <% end %>
    <% flash.each do |type, message| %>
      <%= type + "-------" + message %>
    <% end %>
    <%= yield %>
  </body>
</html>
